{include file="public/header" title="搜索结果" bundle="home" hasBanner="true" /}

<main class="o-wrapper">
  <!--顶部广告-->
  {include file="public/top_ads" /}
  <div class="container">
    <section class="section-block pb-5 ">
      <div class="type-filter car-type-filter">
          <div class="type-filter-row">
            <label>分类默认:</label>
            <ul class="filter">
              <li {if !$Think.get.sales_sum && !$Think.get.price} class="active" {/if}><a href="__URL__/searchList?title={$Think.get.title}" >默认</a></li>
              <li {if $Think.get.sales_sum } class="active" {/if}>
                <div class="sort-wrapper">
                  <span class="sort-txt"><a href="__URL__/searchList?title={$Think.get.title}&sales_sum={$Think.get.sales_sum == 'asc' ? 'desc' : 'asc'}">销量</a></span>
                  <div class="lamp">
                    <div class="icon-arr icon-arr__up {$Think.get.sales_sum == 'asc' ? 'active' : ''}"></div>
                    <div class="icon-arr icon-arr__down {$Think.get.sales_sum == 'desc' ? 'active' : ''}"" ></div>
                  </div>
                </div>
              </li>
              <li {if $Think.get.price} class="active" {/if}>
                <div class="sort-wrapper">
                  <span class="sort-txt"><a href="__URL__/searchList?title={$Think.get.title}&price={$Think.get.price == 'asc' ? 'desc' : 'asc'}">价格</a></span>
                  <div class="lamp">
                    <div class="icon-arr icon-arr__up {$Think.get.price == 'asc' ? 'active' : ''}"></div>
                    <div class="icon-arr icon-arr__down {$Think.get.price == 'desc' ? 'active' : ''}"" ></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      <div class="product-card-list row">
        {if $total}
          {foreach name="goods" item="data"}
          <div class="col col-4">
            <div class="product-card">
              <div class="product-card-img">
                <a href="../index/brand_models_detail.html?goods_id={$data.goods_id}"><img src="{$data['original_img']}" alt=""></a>
              </div>
              <div class="product-card-content">
                <h2 class="product-card-title">
                  {$data.goods_name}
                </h2>
                <div class="product-card-intro"><strong>特点：</strong>{$data.goods_remark}</div>
                <div class="product-card-btm clearfix">
                  <div class="float-left product-card-price">
                    <img src="__STATIC__/assets/images/common/icon-price.png" alt="">
                    <span>价格：<strong>{$data.price/10000}</strong>万元</span>
                  </div>
                  <a class="product-card-btn c-btn c-btn__primary float-right" href="../index/brand_models_detail.html?goods_id={$data.goods_id}">立即购买</a>
                </div>
              </div>
            </div>
          </div>
          {/foreach}
        {else /}
          <div class="col col-12 text-center pt-5 pb-5">
            <p>抱歉，没有找到和"{$Think.get.title}"相关的结果</p>
          </div>
        {/if}

      </div>
      {include file="public/pagination" total="$total" size="9" /}
    </section>

  </div>

</main>
{include file="public/side_btns" /}
{include file="public/footer" /}