{extend name="layout/base" /}
{block name="title"}用户信息设置{/block}
{block name="search"}{/block}
{block name="side_btns"}{/block}
{block name="main"}
{php} 
  $year = substr($user['birthday'], 0, 4);
  $month = substr($user['birthday'], 4, 2);
  $day = substr($user['birthday'], -1, 2);
{/php}
<main class="o-wrapper main-wrapper">
  <div class="container">
    <section class="user-center">
      <div class="row">
        <div class="col-3">
          {include file="usercenter/user_left" /}
        </div>
        <div class="col-9">
          <div class="user-info-edit" id="user-info" style="display:block">
            <div class="user-info-edit__header">
              <div class="cancel-editing" id="cancel-edit">
                <a href="__URL__/user_center.html"><img src="__STATIC__/assets/images/common/back.png" class="icon" alt="">
                  取消编辑</a>
              </div>
            </div>
            <div class="user-info-edit__body">
                <div class="form-group row">
                    <label for="staticEmail" class="col-2 col-form-label col-form-label-sm u-text-right">
                      账号昵称:
                    </label>
                    <div class="col-6">
                      <input type="text" class="form-control form-control-sm" value="{$user.nickname}" autocomplete="off" id="formNickname">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm u-text-right">
                      出生日期:
                    </label>
                    <div class="col-6">
                      <div class="row">
                        <div class="col-4">
                          <div class="select-box">
                            <select class="selectpicker form-control form-control-sm select-major sel_year" rel="{$year}" data-style="my-select"
                              id="formYear">
                            </select>
                            <span class="select-des">年</span>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="select-box">
                            <select class="selectpicker form-control form-control-sm select-major sel_month" rel="{$month}" data-style="my-select"
                              id="formMonth">
                            </select>
                            <span class="select-des">月</span>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="select-box">
                            <select class="selectpicker form-control form-control-sm select-major sel_day" rel="{$day}" data-style="my-select"
                              id="formDay">
                            </select>
                            <span class="select-des">日</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-2 col-form-label col-form-label-sm u-text-right">
                      邮箱:</label>
                    <div class="col-6">
                      <input type="text" class="form-control form-control-sm" value="{$user.email}" id="formEmail">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-2 col-form-label col-form-label-sm u-text-right"></label>
                    <div class="col-6">
                      <div class="user-info-edit__footer">
                        <button class="c-btn c-btn__primary c-btn--small " id="btnSave" href="javascript:;" onclick="postProfolio()">
                          保存设置
                        </button>
                      </div>
                    </div>
                  </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </div>

</main>
{include file="public/test-drive" /}
{/block}

{block name="foot_script"}
<script src="__STATIC__/utils/birthday.js"></script>
<script>
var btnSave = $('#btnSave');
function postProfolio() {
  btnSave.attr('disabled', true)
  btnSave.text('保存中...')
  var nickname = $('#formNickname').val()
  var year = $('#formYear').val()
  var month = $('#formMonth').val()
  var day = $('#formDay').val()
  var email = $('#formEmail').val()
  if(+month < 10) {
    month='0'+month
  }
  if(+day < 10) {
    day='0'+day
  }
  Apitool.usercenter.setUserinfo({
    nickname: nickname, 
    year: year, 
    month: month, 
    day:day, 
    email:email}).then(function(res) {
      if(typeof res.data === "boolean" && res.data) {
        alert('修改成功')
        location.reload()
      } else {
        alert(res.message)
      }
      btnSave.attr('disabled', false)
      btnSave.text('保存设置')
  })
}
$(function () {
	$.ms_DatePicker({
      YearSelector: ".sel_year",
      MonthSelector: ".sel_month",
      DaySelector: ".sel_day"
  });
});
</script>

{/block}