{include file="public/header" title="首页" hasBanner="false" activeNav="usercenter" /}
    <main class="o-wrapper">
      <div class="container">
        <section class="user-center">
          <div class="row">
            <div class="col-3">
              <div class="user-info">
                <div class="user-info__header">
                  <div class="avatar">
                    <img src="{$user.head_pic}" alt="">
                  </div>
                  <div class="phone">{$user.mobile}</div>
                  <div class="drawer row">
                    <div class="drawer-item col-6">
                      <div class="drawer-item__top">最近浏览</div>
                      <div class="drawer-item__bottom">123</div>
                    </div>
                    <div class="drawer-item col-6">
                      <div class="drawer-item__top">我的积分</div>
                      <div class="drawer-item__bottom">{$user.pay_point}</div>
                    </div>
                  </div>
                </div>
                <div class="user-info__body">
                  <div class="row base-col">
                    <div class="col-5 base-col__left">出生日期:</div>
                    <div class="col-7 base-col__right">{$user.birthday}</div>
                  </div>
                  <div class="row base-col">
                    <div class="col-5 base-col__left">所在地:</div>
                    <div class="col-7 base-col__right">{$user.address}</div>
                  </div>
                  <div class="row base-col">
                    <div class="col-5 base-col__left">邮箱:</div>
                    <div class="col-7 base-col__right">{$user.email}</div>
                  </div>
                </div>
                <div class="user-info__footer">
                  <div class="row">
                    <div class="col-6 btn-col">
                      <a class="c-btn c-btn__primary c-btn--small" href="javascript:void(0)" data-toggle="modal" data-target="#testDriveForm">
                        <img src="__STATIC__/assets/images/common/icon-test-drive.png" class="icon" width="20" height="20" alt="">
                        立即预约
                      </a>
                    </div>
                    <div class="col-6 btn-col">
                      <a class="c-btn c-btn__success c-btn--small"  href="javascript:void(0)" {if !$is_sign} id="checkin" {/if} >
                        <img src="__STATIC__/assets/images/common/sign.png" class="icon" width="20" height="20" alt="">
                        <span>{if $is_sign} 
                            已签到
                          {else /}
                            签到
                          {/if} </span>
                        
                      </a>
                    </div>
                  </div>
                </div>
                <a href="__URL__/user_setting.html"><img src="__STATIC__/assets/images/common/setting.png" class="user-info__setting" alt="" id="setting"></a>
              </div>
            </div>
            <div class="col-9">
              <div class="user-info-edit" id="user-info">
                <div class="user-info-edit__header">
                  <div class="cancel-editing" id="cancel-edit">
                    <img src="__STATIC__/assets/images/common/back.png" class="icon" alt="">
                    取消编辑
                  </div>
                </div>
                <div class="user-info-edit__body">
                  <form>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-2 col-form-label col-form-label-sm u-text-right">
                        账号昵称:
                      </label>
                      <div class="col-6">
                        <input type="text" class="form-control form-control-sm" id="staticEmail">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-2 col-form-label col-form-label-sm u-text-right">
                        出生年月:
                      </label>
                      <div class="col-6">
                        <div class="row">
                          <div class="col-4">
                            <div class="select-box">
                              <select class="selectpicker form-control form-control-sm select-major" data-style="my-select" id="year">
                              </select>
                              <span class="select-des">年</span>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="select-box">
                              <select class="selectpicker form-control form-control-sm select-major" data-style="my-select" id="month">
                              </select>
                              <span class="select-des">月</span>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="select-box">
                              <select class="selectpicker form-control form-control-sm select-major" data-style="my-select" id="day">
                              </select>
                              <span class="select-des">日</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="address" class="col-2 col-form-label col-form-label-sm u-text-right">
                        所在地:
                      </label>
                      <div class="col-6">
                        <input type="password" class="form-control form-control-sm" id="address">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-2 col-form-label col-form-label-sm u-text-right">
                        邮箱:</label>
                      <div class="col-6">
                        <input type="password" class="form-control form-control-sm" id="email">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-2 col-form-label col-form-label-sm u-text-right"></label>
                      <div class="col-6">
                        <div class="user-info-edit__footer">
                          <a class="c-btn c-btn__primary c-btn--small" href="javascript:;">
                            确认编辑
                          </a>
                          <a class="c-btn c-btn__success c-btn--small" href="javascript:;">
                            绑定编辑
                          </a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="tabs user-main" id="user-main">
                <ul class="nav tabs-list">
                  <li class="nav-item tab-item active">
                    订单中心
                  </li>
                  <li class="nav-item tab-item">
                    我的服务
                  </li>
                </ul>
                <div class="tabs-content">
                  <div class="tab-pane active">
                    <div class="user-order tabs card-default">
                      <ul class="tabs-list">
                        <li class="tab-item active">
                          我的订单
                        </li>
                        <li class="tab-item">
                          未支付的订单
                        </li>
                        <li class="tab-item">
                          待收货的订单
                        </li>
                        <li class="tab-item">
                          已完成的订单
                        </li>
                        <li class="tab-item">
                          退款订单
                        </li>
                        <li class="tab-item">
                          拍卖订单
                        </li>
                      </ul>
                      <div class="tabs-content">
                        {foreach $order as $key=>$order_item}
                          <div class="tab-pane {$key=='all'?'active':''}">
                            <div class="order-list">
                              {notempty name="order_item"}
                                {foreach $order_item as $key=>$item}
                                 
                                  <div class="order-item">
                                      <div class="order-header">
                                        <div class="order-info">
                                          <div class="order-info__left">订单号：</div>
                                          <div class="order-info__right">{$item.master_order_sn}</div>
                                        </div>
                                        <div class="order-info">
                                          <div class="order-info__left">订单积分：</div>
                                          <div class="order-info__right">{$item.integral}积分</div>
                                        </div>
                                      </div>
                                      {foreach $item.list as $vo}
                                      <div class="order-body">
                                        <div class="order-body__left">
                                          <div class="car-pic" style="background-image: url({$vo.goods_img});background-position: center;background-size:contain"></div>
                                          <div class="car-info" style="vertical-align: top;margin-top: 30px"> 
                                            <div class="order-info">
                                              <div class="order-info__left">{$vo.goods_name}</div>
                                            </div>
                                            {if $vo.spec}
                                            <div class="car-attr">
                                              <div class="car-attr__top">
                                                <div class="attr-item attr-item__sm">{$vo.spec}</div>
                                              </div>
                                            </div>
                                            {/if}
                                          </div>
                                        </div>
                                        <div class="order-body__center">
                                          <div class="other-info">
                                            {$vo.address}
                                          </div>
                                        </div>
                                        <div class="order-body__right">
                                          <a class="c-btn c-btn__primary" href="#">
                                            进行中
                                          </a>
                                        </div>
                                      </div>
                                      {/foreach}
                                    </div>
                                {/foreach}
                              {/notempty}
                              {empty name="order_item"}
                                <div class="text-center pt-5 pb-5" >暂无订单</div>
                              {/empty}
                            </div>
                          </div>
                        {/foreach}
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane">
                    <div class="user-service tabs card-default">
                      <ul class="tabs-list">
                        <li class="tab-item active">
                          赚取积分
                        </li>
                        <li class="tab-item">
                          收藏
                        </li>
                        <li class="tab-item">
                          签到
                        </li>
                        <li class="tab-item">
                          积分明细
                        </li>
                        <!-- <li class="tab-item">
                          预约信息
                        </li> -->
                      </ul>
                      <div class="tabs-content">
                        <div class="tab-pane active">
                          <div class="integral-des">
                            <article class="des-chapter">
                              <h6 class="des-title">积分说明：</h6>
                              
                              <p class="des-content">{$service.pointDesc.title}</p>
                            </article>
                            <article class="des-chapter">
                              <h6 class="des-title">积分途径：</h6>
                              <p class="des-content">{$service.pointDesc.content}</p>
                            </article>
                          </div>
                        </div>
                        <div class="tab-pane">
                          <div class="collection">
                            <div class="product-card-list row">
                              {foreach $service.collection as $vo}
                                <div class="col col-4">
                                    <div class="product-card collect">
                                      <div class="product-card-img">
                                        <a href="#"><img src="{$vo.original_img}" alt=""></a>
                                      </div>
                                      <div class="product-card-content">
                                        <h2 class="product-card-title">
                                          {$vo.goods_name}
                                          <span class="float-right">已订购：<strong class="color-primary">69213</strong>台</span>
                                        </h2>
                                        <div class="product-card-btm clearfix">
                                          <div class="collection btn-collection float-left active logined" data-type="{$vo.exchange_integral}" data-id="{$vo.goods_id}">
                                            <span class="icon float-left"></span>
                                            <label>已收藏</label>
                                          </div>
                                          <span class="product-card-tip float-right">{$vo.price}元 </span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              {/foreach}
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane">
                          <table class="table table-hover text-center user-record-table">
                            <thead>
                              <tr>
                                <th scope="col" class="w-190">签到时间</th>
                                <th scope="col" class="w-190">积分</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              {foreach $service.integralLog as $row}
                                {if $row.type_name=='签到赠送'}
                                <tr>
                                  <td>
                                  {php}
                                    echo date('Y-m-d H:i', (int) $row['create_time']);
                                  {/php}
                                  </td>
                                  <td class="td-bling">+{$row.integral}</td>
                                  <td></td>
                                  <td></td>
                                </tr>
                                {/if}
                              {/foreach}
                              
                            </tbody>
                          </table>
                        </div>
                        <div class="tab-pane">
                          <table class="table table-hover text-center user-record-table">
                            <thead>
                              <tr>
                                <th scope="col" class="w-190">签到时间</th>
                                <th scope="col" class="w-190">积分记录</th>
                                <th scope="col">途径</th>
                              </tr>
                            </thead>
                            <tbody>
                                {foreach $service.integralLog as $row}
                                <tr>
                                  <td>
                                    {php}
                                      echo date('Y-m-d H:i', (int) $row['create_time']);
                                    {/php}
                                    </td>
                                  <td class="td-bling">+{$row.integral}</td>
                                  <td>{$row.type_name}</td>
                                </tr>
                              {/foreach}
  
                            </tbody>
                          </table>
                        </div>
                        <!-- <div class="tab-pane">
                          <div class="appo">
                            <div class="appo-list">
                              <div class="appo-item">
                                <div class="appo-index">1</div>
                                <div class="appo-content appo-content__fixed">
                                  <div class="appo-content-row">
                                    <span class="appo-content__left">预约时间：</span>
                                    <span class="appo-content__right">2018年10月23日 上午 10：00</span>
                                  </div>
                                  <div class="appo-content-row">
                                    <span class="appo-content__left">预约地址：</span>
                                    <span class="appo-content__right">北京市海淀区北京奥宝世汽车销售有限公司</span>
                                  </div>
                                  <div class="appo-content-row">
                                    <span class="appo-content__left">预约车型：</span>
                                    <span class="appo-content__right">众泰T600</span>
                                  </div>
                                </div>
                                <div class="appo-content">
                                  <div class="appo-content-row">
                                    <span class="appo-content__left">预约人：</span>
                                    <span class="appo-content__right">张火金</span>
                                  </div>
                                  <div class="appo-content-row">
                                    <span class="appo-content__left">联系电话：</span>
                                    <span class="appo-content__right">185123124332</span>
                                  </div>
                                  <div class="appo-content-row">
                                    <span class="appo-content__left">预约情况：</span>
                                    <span class="appo-content__right">待预约啊啊啊啊啊啊啊啊啊啊啊啊啊啊</span>
                                  </div>
                                </div>
                              </div>
                              <div class="appo-item">
                                <div class="appo-index">1</div>
                                <div class="appo-content appo-content__fixed">
                                  <div class="appo-content-row">
                                    <span class="appo-content__left">预约时间：</span>
                                    <span class="appo-content__right">2018年10月23日 上午 10：00</span>
                                  </div>
                                  <div class="appo-content-row">
                                    <span class="appo-content__left">预约地址：</span>
                                    <span class="appo-content__right">北京市海淀区北京奥宝世汽车销售有限公司</span>
                                  </div>
                                  <div class="appo-content-row">
                                    <span class="appo-content__left">预约车型：</span>
                                    <span class="appo-content__right">众泰T600</span>
                                  </div>
                                </div>
                                <div class="appo-content">
                                  <div class="appo-content-row">
                                    <span class="appo-content__left">预约人：</span>
                                    <span class="appo-content__right">张火金</span>
                                  </div>
                                  <div class="appo-content-row">
                                    <span class="appo-content__left">联系电话：</span>
                                    <span class="appo-content__right">185123124332</span>
                                  </div>
                                  <div class="appo-content-row">
                                    <span class="appo-content__left">预约情况：</span>
                                    <span class="appo-content__right">待预约啊啊啊啊啊啊啊啊啊啊啊啊啊啊</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>

    </main>
    {php} $bundle='user-center' {/php}
    {include file="public/test-drive" /}
    {include file="public/footer" /}
    <script>
      function checkin() {
        return Apitool.usercenter.checkin()
      }

      $(() => {
        $('#checkin').click(function() {

          Apitool.usercenter.checkin().then(function(){
            $('#checkin span').text('已签到')
          })
        
        })
      })

    </script>