<table>
    <tbody>
    <empty name="goodsList">
        <tr>
            <td class="no-data" align="center" axis="col0" colspan="50">
                <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
            </td>
        </tr>
        <else/>
        <volist name="goodsList" id="list">
            <tr>
                <td align="center" axis="col0">
                    <div style="width: 50px;">
                        <!--<input type="checkbox" name="goods_id[]" value="{$list.goods_id}"/>-->{$list.goods_id}
                    </div>
                </td>
                <td align="center" axis="col0">
                    <div style="text-align: left; width: 300px;">{$list.goods_name|getSubstr=0,33}</div>
                </td>
                <td align="center" axis="col0">
                    <div style="text-align: center; width: 100px;">{$list.shop_price}</div>
                </td>

                <td align="center" axis="col0">
                    <div style="text-align: center; width: 250px; max-width:250px;">
                        <a class="btn blue goods_list" data-url="{:U('Admin/Auction/addAuctionGoods',array('goods_id'=>$list['goods_id']))}" data-id="{$list['goods_id']}"><i class="fa fa-check"></i>添加</a>
                    </div>
                </td>
                <td align="" class="" style="width: 100%;">
                    <div>&nbsp;</div>
                </td>
            </tr>
        </volist>
        <!--<tr class="spe_select">
            <td colspan="14">
                <div class="col-sm-3 form-inline">
                    全选
                    <input type="checkbox" onclick="$('input[name=\'goods_id\[\]\']').prop('checked', this.checked);">

                    <select id="func_id" class="form-control" style="width: 120px;" onblur="fuc_change(this);">
                        <option value="-1">请选择...</option>
                        <option value="0">推荐</option>
                        <option value="1">新品</option>
                        <option value="2">热卖</option>
                        <option value="3">上架</option>
                        <option value="4">停售</option>
                    </select>
                    <a id="act_button" href="javascript:;" onclick="act_submit();" style="color:#FFF;" class="ncap-btn-mini ncap-btn-green disabled"><i class="fa"></i> 确定</a>
                </div>
            </td>
        </tr>-->
    </empty>
    </tbody>
</table>
<!--分页位置--> {$page}
<script>
    // 点击分页触发的事件
    $(".pagination  a").click(function(){
        cur_page = $(this).data('p');
        ajax_get_table('search-form2',cur_page);
    });
    $('.goods_list').click(function(){
        var url = $(this).attr('data-url');
        var id = $(this).attr('data-id');
//        $.ajax({
//            type : 'GET',
//            url : "{:U('Admin/Auction/addAuctionGoods')}/goods_id/"+id,
//            dataType :'JSON',
//            success : function(res){
//                if(res.status == 0){
//                    layer.msg('此商品本活动时间段内已被占用', {icon: 1});
//                }else{
                    layer.open({
                        type: 2,
                        title: '活动添加商品规格列表',
                        shadeClose: true,
                        shade: 0.5,
                        area: ['70%', '90%'],
                        content: url,
                    });
//                }
//            }
//        });
        // layer.open({
        // 	type: 2,
        // 	title: '活动添加商品规格列表',
        // 	shadeClose: true,
        // 	shade: 0.5,
        // 	area: ['70%', '72%'],
        // 	content: url,
        // });
    });
</script>