{include file="public/header" title="首页" hasBanner="false" activeNav="brand" /}
<main class="o-wrapper">
  <div class="container">
    <section class="brand-models-buy">
      <div class="product-photos__wrapper">
        <div class="car-slider">
          <div class="view">
            <div class="swiper-container">

              <div class="swiper-wrapper">
                {foreach $data.banner as $item}
                <div class="swiper-slide text-center">
                  <img src="{$item.ad_code}" width="100%" alt="" />
                </div>
                {/foreach}
              </div>
            </div>
          </div>
          <div class="preview">
            <div class="preview-wrapper">
              <a class="arrow-left" href="#">
                <img src="__STATIC__/assets/images/common/icon-page-arrow-l.png" width="8" alt="">
              </a>
              <a class="arrow-right" href="#">
                <img src="__STATIC__/assets/images/common/icon-page-arrow-r.png" width="8" alt="">
              </a>
              <div class="swiper-container">
                <div class="swiper-wrapper">
                    {foreach $data.banner as $key=>$item}
                    <div class="swiper-slide text-center {php} echo $key==0 ? 'active-nav' : '' {/php}">
                      <div class="car-pic" style="background-image:url({$item.ad_code})"></div>
                    </div>
                    {/foreach}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div clsas="product-attr">
        <div class="card-yellowing">
          <div class="form-layout">
            <div class="form-item row">
              <div class="form-item-label col-1">
                <label>车型外观：</label>
              </div>
              <div class="form-item-control-wrapper col-11">
                <div class="form-item-control">
                  <ul class="product-attr-color" id="product-color">
                    {foreach $data['spec'] as $item}
                    <li class="attr-color__item active">
                      <div class="pic-wrapper">
                        <img src="{$item.sku_img}" class="color-pic" alt="">
                        <img src="" class="selected-icon" alt="">
                      </div>
                      <div class="color-name">{$item.sku_name}</div>
                    </li>
                    {/foreach}
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-item row">
              <div class="form-item-label col-1">
                <label>特定排量：</label>
              </div>
              <div class="form-item-control-wrapper col-11">
                <div class="form-item-control">
                  <ul class="product-attr-brick">
                    {foreach $data['appearance']['displacement'] as $item}
                    <li class="attr-brick__item">{$item.sku_name}</li>
                    {/foreach}
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-item row">
              <div class="form-item-label col-1">
                <label>专属型号：</label>
              </div>
              <div class="form-item-control-wrapper col-11">
                <div class="form-item-control">
                  <ul class="product-attr-brick">
                    {foreach $data['appearance']['model'] as $item}
                    <li class="attr-brick__item">{$item.sku_name}</li>
                    {/foreach}
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-item row">
              <div class="form-item-label col-1">
                <label>室内颜色：</label>
              </div>
              <div class="form-item-control-wrapper col-11">
                <div class="form-item-control">
                  <ul class="product-attr-color" id="product-color">
                    {foreach $data['appearance']['interior'] as $item}
                    <li class="attr-color__item active">
                      <div class="pic-wrapper">
                        <img src="{$item.sku_img}" class="color-pic" alt="">
                        <img src="" class="selected-icon" alt="">
                      </div>
                      <div class="color-name">{$item.sku_name}</div>
                    </li>
                    {/foreach}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="product-attr__additional">
          <div class="form-layout" style="margin-bottom: 34px">
            <div class="form-item row">
              <div class="form-item-label col-1">
                <label>提车城市：</label>
              </div>
              <div class="form-item-control-wrapper col-11">
                <div class="form-item-control">
                  <div class="product-attr__region">
                    <div class="d-flex">
                      <div class="product-attr__formItem">
                        <div class="select-wrapper">

                          <select class="form-control selectpicker form-control-sm" data-style="my-select">
                            {foreach $data['appearance']['province'] as $item}
                            <option value="{$item.id}">{$item.name}</option>
                            {/foreach}
                          </select>

                        </div>
                        <span class="formItem-des">省</span>
                      </div>
                      <div class="product-attr__formItem">
                        <div class="select-wrapper">
                          <select class="selectpicker form-control form-control-sm" data-style="my-select">
                            {foreach $data['appearance']['city'] as $item}
                            <option value="{$item.id}">{$item.name}</option>
                            {/foreach}
                          </select>
                        </div>
                        <span class="formItem-des">市</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="form-layout" style="margin-bottom: 34px">
            <div class="form-item row">
              <div class="form-item-label col-1">
                <label>经销商：</label>
              </div>
              <div class="form-item-control-wrapper col-11">
                <div class="form-item form-item__inline">
                  <div class="form-item-control-wrapper">
                    <div class="form-item-control">
                      <ul class="product-attr-brick">
                        {foreach $data['appearance']['distribu'] as $item}
                        <li class="attr-brick__item">{$item.name}</li>
                        {/foreach}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-layout">
            <div class="form-item row">
              <div class="form-item-label col-1">
                <label>积分抵扣：</label>
              </div>
              <div class="form-item-control-wrapper col-11">
                <div class="form-item-control">
                  <div class="product-attr__integral">可用积分 3000 积分</div>
                  <div class="form-item form-item__inline">
                    <div class="form-item-label">
                      <label>使用</label>
                    </div>
                    <div class="form-item-control-wrapper">
                      <div class="form-item-control">
                        <div class="product-attr__formItem">
                          <div class="input-wrapper">
                            <input type="number" class="form-control form-control-sm">
                          </div>
                          <span class="formItem-des">积分</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="product-detail">
          <div class="product-detail__left">
            <video src="{$data['video']}"></video>
          </div>
          <div class="product-detail__right">
            <div class="product-txt">{$data.equity_content}</div>
            <div class="actions">
              <a class="c-btn c-btn__primary buy-btn" href="#">
                立即购买
                <div class="tip">定金：{$data.deposit_price}元</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

</main>
{include file="public/footer" /}