{extend name="layout/base" /}
{block name="title"}积分兑换{/block}
{block name="main"}
    <main class="o-wrapper main-wrapper hasSearch">
      <!--顶部广告-->
      {include file="public/top_ads" /}
      <div class="container">
        <!--三大栏目-->
        {include file="public/three_box" /}
        <section class="section-block pb-5">
          <div class="section-title clearfix">
            <h1>积分兑换<span class="section-subtitle">免费兑换 | 送货上门</span></h1>
          </div>

          <div class="type-filter car-type-filter">
            <div class="type-filter-row">
              <label>商品类型：</label>
              <ul class="filter" >
                {foreach $type as $item}
                  <li class="{if $item.id==$Think.get.type} active {/if}">
                    <a href="__URL__/integral_mall_list?type={$item.id}">{$item.name}</a>
                  </li>
                {/foreach}
              </ul>
            </div>
            <div class="type-filter-row">
              <label>分类默认:</label>
              <ul class="filter">
                <li {if !$Think.get.sales_sum && !$Think.get.price} class="active" {/if}><a href="__URL__/integral_mall_list.html" >默认</a></li>
                <li {if $Think.get.sales_sum } class="active" {/if}>
                  <div class="sort-wrapper">
                    <span class="sort-txt"><a href="__URL__/integral_mall_list?sales_sum={$Think.get.sales_sum == 'asc' ? 'desc' : 'asc'}">销量</a></span>
                    <div class="lamp">
                      <div class="icon-arr icon-arr__up {$Think.get.sales_sum == 'asc' ? 'active' : ''}"></div>
                      <div class="icon-arr icon-arr__down {$Think.get.sales_sum == 'desc' ? 'active' : ''}"" ></div>
                    </div>
                  </div>
                </li>
                <li {if $Think.get.price} class="active" {/if}>
                  <div class="sort-wrapper">
                    <span class="sort-txt"><a href="__URL__/integral_mall_list?price={$Think.get.price == 'asc' ? 'desc' : 'asc'}">价格</a></span>
                    <div class="lamp">
                      <div class="icon-arr icon-arr__up {$Think.get.price == 'asc' ? 'active' : ''}"></div>
                      <div class="icon-arr icon-arr__down {$Think.get.price == 'desc' ? 'active' : ''}"" ></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="product-card-list row">
            {foreach $data as $gd}
            <div class="col col-4">
              <div class="product-card">
                <div class="product-card-img">
                  <a href="#"><img src="{$gd.original_img}" width="100%" style="height: auto" alt=""></a>
                </div>
                <div class="product-card-content">
                  <h2 class="product-card-title">
                    {$gd.goods_name}
                    <!-- <span class="float-right">剩余时间:<strong class="color-primary">1天23时22分</strong></span> -->
                  </h2>
                  <div class="product-card-intro"><strong>特点：</strong>{$gd.goods_remark}</div>
                  <div class="product-card-btm clearfix">
                    <div class="float-left product-card-price">
                      <img src="__STATIC__/assets/images/common/icon-integral.png" alt="">
                      <span>积分：<strong>{$gd.integral}</strong>积分</span>
                      <span>剩余：<em>{$gd.store_count}</em></span>
                    </div>
                    <a class="product-card-btn c-btn c-btn__primary float-right" href="../integral/integral_mall_detail?goods_id={$gd.goods_id}">立即兑换</a>
                  </div>
                </div>
              </div>
            </div>
            {/foreach}
          </div>
          {include file="public/pagination" total="$total" size="9" /}
          {empty name="data"}
            {include file="public/empty"/}    
          {/empty}
        </section>

      </div>

    </main>
{/block}