<footer class="o-wrapper c-footer">
  <div class="container">
    <div class="row c-footer-links">
      <div class="col">
        <h5>关于众泰</h5>
        <ul>
          <li><a href="#">众泰新闻</a></li>
          <li><a href="#">绿动未来</a></li>
          <li><a href="#">红色引擎</a></li>
          <li><a href="#">人才战略</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>热门车型</h5>
        <ul>
          <li><a href="#">众泰T800</a></li>
          <li><a href="#">众泰T500</a></li>
          <li><a href="#">众泰T300</a></li>
          <li><a href="#">众泰T700</a></li>
          <li><a href="#">众泰T600</a></li>
          <li><a href="#">众泰Z300</a></li>
          <li><a href="#">众泰Z700</a></li>
          <li><a href="#">众泰E200</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>服务中心</h5>
        <ul>
          <li><a href="#">服务商查询</a></li>
          <li><a href="#">经销商查询</a></li>
          <li><a href="#">在线客服</a></li>
          <li><a href="#">售后服务</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>购车支持</h5>
        <ul>
          <li><a href="#">购车指南</a></li>
          <li><a href="#">预约试驾</a></li>
          <li><a href="#">购车计算器</a></li>
          <li><a href="#">天猫旗舰店</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>商务合作</h5>
        <ul>
          <li><a href="#">众泰研发中心预约</a></li>
          <li><a href="#">众泰汽车招商加盟</a></li>
          <li><a href="#">众泰新能源招商加盟</a></li>
          <li><a href="#">众泰招标采购平台</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright text-center">Copyright &copy; 2018 www.zhongtia.com All Rights Reserved</div>
</footer>

<script src="__STATIC__/scripts/common.bundle.js?v=20190108"></script>
{notempty name="bundle"} 
  <script src="__STATIC__/scripts/{$bundle}.bundle.js?v=20190108"></script>
{/notempty}
<script>
  function getDrivelist(cb) {
    Apitool.drive.getDrivelist().then(function(res){
      cb(res.data)
    })
  }


  function getProvince(cb) {
    Apitool.drive.getProvince().then(function(res){
      cb(res.data)
    })
  }

  function getCity(id, cb) {
    Apitool.drive.getCity(id).then(function(res){
      console.log(res)
      cb(res.data)
    })
  }

  function queryDealers(params, cb) {
    Apitool.drive.queryDealers(params.cate, params.province, params.city).then(function(res) {
      console.log(res)
      cb(res.data)
    })
  }

  function querySales(params, cb) {
    Apitool.drive.querySales(params.cate, params.province, params.city).then(function(res) {
      console.log(res)
      cb(res.data)
    })
  }
</script>
</body>
</html>