<div class="footer-feature">
  <div class="row">
    <div class="col">
      <div class="footer-feature-icon">
        <span class="icon-price"></span>
      </div>
      <div class="footer-feature-content">
        <h3>价格透明</h3>
        <p>全国统一价，公开透明<br />
          您可以放心无忧，低价购车</p>
      </div>
    </div>
    <div class="col">
      <div class="footer-feature-icon">
        <span class="icon-brand"></span>
      </div>
      <div class="footer-feature-content">
        <h3>品牌保证</h3>
        <p>商城直销，赋予您100%<br />的购车保障</p>
      </div>
    </div>
    <div class="col">
      <div class="footer-feature-icon">
        <span class="icon-repair"></span>
      </div>
      <div class="footer-feature-content">
        <h3>全国联保</h3>
        <p>全国销售网点为您提供尊崇<br />
          的售后服务以及国家规定的三包政策</p>
      </div>
    </div>
    <div class="col">
      <div class="footer-feature-icon">
        <span class="icon-service"></span>
      </div>
      <div class="footer-feature-content">
        <h3>专人接待</h3>
        <p>线上线下一对一专人导购服务，尊享<br />网络VIP服务</p>
      </div>
    </div>
  </div>
</div>