<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <title>[title] - 众泰商城</title>
  <link rel="stylesheet" property="stylesheet" href="__STATIC__/styles/main.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.querySelector('html').classList.remove('no-js');</script>
  <script src="__STATIC__/scripts/vendor.js"></script>
</head>

<body class="">
{include file="public/header-nav" hasBanner="[hasBanner]" activeNav="[activeNav]" /}