<header class="o-wrapper c-header {php} echo [hasBanner] ? 'c-header__fixed' : '' {/php}" >
  <div class="container clearfix">
    <a class="navbar-brand" href="__URL__/home.html">
      众泰汽车
    </a>
    <div class="select-city__wrapper">
      <select class="selectpicker form-control form-control-sm" data-style="select-city">
        <option>北京</option>
        <option>上海</option>
        <option>广州</option>
        <option>深圳</option>
        <option>杭州</option>
      </select>
    </div>

    <ul class="navbar-nav float-right">
      <li><a class="nav-item
        {php}
        echo '[activeNav]' == 'home' ? 'active' : ''
        {/php}"
             href="../index/home.html">首页</a></li>
      <li><a class="nav-item
        {php}
        echo '[activeNav]' == 'brand' ? 'active' : ''
        {/php}" href="../index/brand_models.html">品牌车型</a></li>
      <li><a class="nav-item
        {php}
        echo '[activeNav]' == 'integral' ? 'active' : ''
        {/php}" href="../index/integral_mall.html">积分商城</a></li>
      <li><a class="nav-item
        {php}
        echo '[activeNav]' == 'parts' ? 'active' : ''
        {/php}" href="../goods/parts?cat_id=&class_id=&page=1">精品配件</a></li>
      <li><a class="nav-item {php} echo '[activeNav]' == 'usercenter' ? 'active' : '' {/php}" 
        {if !$is_login }
          data-toggle="modal" data-target="#loginModal" 
          href="javascript:void(0)" 
        {else/}
          href="../index/user_center.html?order_type=1"
        {/if}
        >个人中心</a></li>
      <li>
        {if !$is_login }
        <div class="btn-combine"><a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" id="login">登录</a><a href="javascript:void(0)" id="register" data-toggle="modal" data-target="#loginModal"  class="color-dark"><span>注册</span></a></div>
        {else/}
        <a class="nav-item" id="logout" href="javascript:void(0)">退出账号</a>
        {/if}
      </li>
    </ul>
  </div>

</header>

{include file="usercenter/login" /}