
<div class="side-btns">
  <div class="side-btns-item">
    <div class="side-btns-item__inner">
      <img src="__STATIC__/assets/images/common/icon-kefu.png" alt="">
      <p>客服咨询</p>
    </div>

  </div>

  <div class="side-btns-item" data-toggle="modal" data-target="#testDriveForm">
    <div class="side-btns-item__inner">
      <img src="__STATIC__/assets/images/common/icon-test-drive.png" alt="">
      <p>预约试驾</p>
    </div>
  </div>

  <div class="side-btns-item">
    <div class="side-btns-item__inner">
      <img src="__STATIC__/assets/images/common/icon-map.png" alt="">
      <p>销售网点</p>
    </div>
  </div>

  <div class="side-btns-item">
    <div class="side-btns-item__inner">
      <img src="__STATIC__/assets/images/common/icon-kefu.png" alt="">
      <p>公众号</p>
    </div>
  </div>
</div>


{include file="public/test-drive" /}