<div class="modal fade" id="testDriveForm" tabindex="-1" role="dialog" aria-labelledby="testDriveFormTitle" aria-hidden="true">
  <div class="modal-dialog pop-up modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="pop-up-box">
        <div class="pop-up-title text-center">
          <span class="navbar-brand navbar-brand__white"></span><span>预约试驾</span>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="__STATIC__/assets/images/common/icon-close.png" alt="">
          </button>
        </div>
        <div class="pop-up-content">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label font-weight-bold"><img width="18" class="row-icon" src="__STATIC__/assets/images/common/icon-clock.png" />预约试驾：</label>
            <div class="col-sm-10 color-read">
              欢迎您在线预约试驾，众泰很重视您所提交的一切信息，这将令我们更了解您的需求和喜好，并为您提供更好的驾乘体验。
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">选择车型：</label>
            <div class="col-sm-10" style="font-size:14px">
              <div class="w130">
                <select class="selectpicker form-control form-control-sm" data-style="my-select" id="catList">
                  {foreach $cartype_list as $item}
                    <option value="{$item.id}">{$item.name}</option>
                  {/foreach}
                </select>
              </div>
              <div class="form-mini">
                <div class="form-item">
                  <span class="item-label">选择经销商：</span>
                  <div class="w80">
                    <select class="selectpicker form-control form-control-sm" data-style="my-select" onchange="handleGetCity(this)" id="provinceList">
                      <option>请选择</option>
                    </select>
                  </div>
                  <span class="item-des">省</span>
                </div>
                <div class="form-item">
                  <div class="w80">
                    <select class="selectpicker form-control form-control-sm" onchange="handleGetSales()" data-style="my-select" id="cityList">
                      <option>请选择</option>
                    </select>
                  </div>
                  <span class="item-des">市</span>
                </div>
                <div class="form-item">
                  <div class="w130">
                    <select class="selectpicker form-control form-control-sm" data-style="my-select" id="salesList">
                      <option>请选择</option>
                    </select>
                  </div>
                  <span class="item-des">经销商</span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label font-weight-bold"><img width="18" class="row-icon" src="__STATIC__/assets/images/common/icon-user.png" />个人信息：</label>
            <div class="col-sm-10 color-read">
              （*为必填选项，请确保输入信息无误。）
            </div>
          </div>
          <div class="pop-up-form">
            <div class="pop-up-form__inner">
              <h6 class="text-center pb-3 font-weight-bold">信息填写</h6>
              <div class="form-group row">
                <label class="col-sm-3 text-right col-form-label">姓名：</label>
                <div class="col-sm-9">
                  <input type="text" id="form-name" class="form-control form-control-sm">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 text-right col-form-label">性别：</label>
                <div class="col-sm-9">
                  <div class="form-check form-check-inline">
                    <label for=""><input class="form-check-input" type="radio" name="formSex" value="1"
                                         checked>男</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label for=""><input class="form-check-input" type="radio" name="formSex" value="2">女</label>
                  </div>

                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 text-right col-form-label">手机号：</label>
                <div class="col-sm-9">
                  <input type="text" id="form-mobile" class="form-control form-control-sm">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 text-right col-form-label">邮箱：</label>
                <div class="col-sm-9">
                  <input type="text" id="form-email" class="form-control form-control-sm">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 text-right col-form-label">日期选择：</label>
                <div class="col-sm-9">
                  <div class="form-mini">
                    <div class="form-item" style="margin-right: 73px">
                      <div class="w80">
                        <select class="selectpicker form-control form-control-sm" id="form-month" data-style="my-select">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                        </select>
                      </div>
                      <span class="item-des">月</span>
                    </div>
                    <div class="form-item">
                      <div class="w80">
                        <select class="selectpicker form-control form-control-sm" id="form-day" data-style="my-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                        </select>
                      </div>
                      <span class="item-des">日</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 text-right col-form-label">时间选择：</label>
                <div class="col-sm-9">
                  <div class="form-mini">
                    <div class="form-item">
                      <div class="w80">
                        <select class="selectpicker form-control form-control-sm" id="form-time" data-style="my-select">
                          <option value="9">9:00</option>
                          <option value="10">10:00</option>
                          <option value="11">11:00</option>
                          <option value="14">14:00</option>
                          <option value="15">15:00</option>
                          <option value="16">16:00</option>
                        </select>
                      </div>
                      <span class="item-des">时</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center pt-3 pb-3">
                <a href="javascript:void(0)" onclick="bookDrive()"  class="btn btn-danger btn-lg btn-block" >立即预约</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function bookDrive() {
    var name = $('#form-name').val()
    var category_id = $('#catList').val()
    var province = $('#provinceList').val()
    var city = $('#cityList').val()
    var dealers_id = $('#salesList').val()
    var sex = $('input[name="formSex"]').val()
    var month = $('#form-month').val()
    var email = $('#form-email').val()
    var day = $('#form-day').val()
    var mobile = $('#form-mobile').val()
    if(!name||!category_id||!province||!city||!dealers_id||!sex||!month||!day||!email||!mobile) {
      alert('请填充表单内容')
      return
    }
    Apitool.drive.addAppoint({
      name:name,
      category_id: category_id,
      province: province,
      city: city,
      dealers_id: dealers_id,
      sex: sex,
      month: month,
      day: day,
      mobile: mobile,
      email: email
    }).then(function(res) {
      switch(res.code) {
        case '0000':
          alert('预约成功')
          $('#testDriveForm').modal('hide')
          location.reload()
          break;
        case '2002':
          alert('未选择经销商')
          break;
        default:
          alert(res.message)
      }
    })
  }
  function handleGetProvince() {
    getProvince(function(result){
      var d=document.createDocumentFragment();
      var list = document.getElementById('provinceList')
      result.forEach(element => {
        var e = document.createElement('option')
        e.value = element.id
        e.innerText = element.name
        d.appendChild(e)
      });
      
      $('#provinceList').html(d)
    })
  }

  function handleGetCity(event) {
    console.log($(event).val());
    getCity($(event).val() || 1, function(result) {
      var d=document.createDocumentFragment();
      var list = document.getElementById('cityList')
      result.forEach(element => {
        var e = document.createElement('option')
        e.value = element.id
        e.innerText = element.name
        d.appendChild(e)
      });
      
      $('#cityList').html(d)
      handleGetSales()
      $(".selectpicker").selectpicker('refresh')
    })
  }

  function handleGetSales() {
    var cate = $('#catList').val()
    var province = $('#provinceList').val()
    var city = $('#cityList').val()
    queryDealers({
      cate: cate,
      province: province,
      city: city
    }, function(result) {
      var d=document.createDocumentFragment();
      var list = document.getElementById('salesList')
      if(result instanceof Array) {
        result.forEach(function(element){
          var e = document.createElement('option')
          e.value = element.id
          e.innerText = element.name
          d.appendChild(e)
        });
        
      } else {
        var e = document.createElement('option')
        e.value = null
        e.innerText = '无'
        d.appendChild(e)
      }

      $('#salesList').html(d)

      $(".selectpicker").selectpicker('refresh')
    })
  }

  $(function(){
    handleGetProvince()
    handleGetCity()
    handleGetSales()
  })
</script>