<div class="three-box">
  <div class="row">
    <div class="col">
      <div class="three-box-item text-center">
        <a href="../seckill/seckill.html" style="background-image:url(__STATIC__/assets/images/ad-1.jpg)"></a>
      </div>
    </div>
    <div class="col text-center">
      <div class="three-box-item text-center">
        <a href="../auction/special_auction?is_start=true" style="background-image:url(__STATIC__/assets/images/ad-2.jpg)"></a>
      </div>
    </div>
    <div class="col text-center">
      <div class="three-box-item text-center">
        <a href="../integral/integral_mall_list.html" style="background-image:url(__STATIC__/assets/images/ad-3.jpg)"></a>
      </div>
    </div>
  </div>
</div>