<div class="swiper-container banner-slider">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {foreach $top_ads as $key=>$vo}
    <div class="swiper-slide">
      <a href="{$vo.ad_link}" style="background-image:url('{$vo.ad_code}');display:block;width:100%;height:100%;background-size:cover;background-position:center">
        <!-- <img src="{$vo.ad_code}" title="{$vo.title}" width="100%" style="" alt=""/> -->
      </a>
    </div>
    {/foreach}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <div class="search-box">
    <div class="search-box__inner">
      <input type="text" id="search" value="{$Think.get.title}" placeholder="请输入关键词，例如：众泰T500">
      <button onclick="location.href='../goods/searchList?title=' + document.getElementById('search').value ">立即搜索</button>
    </div>
  </div>
</div>